


{% block footer %}

    <div id="footer">
        <div id="lienFooter">
            <p class="decoLienFooter">© 2024 Alihsan Monde</p><div>|</div>
            <p class="decoLienFooter">Tous droits réservés </p><div>|</div>
            <a class="decoLienFooter lienHover" href="{{ path('app_mentions_legales')}}"><p>Mentions Légales </p></a><div>|</div>
            <a class="decoLienFooter lienHover" href=""><p>Administration</p></a>
        </div>
    </div>
{% endblock %}