{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/mentionsLegales.css') }}">
{% endblock %}

{% block body %}
<div class="ensemble">
    <h1 id="titrePage">Mentions légales</h1>

    <div class="container">

        <section class="sections">
            <p>
                Edité par l’association Visemploi, le site Internet est accessible à l’adresse suivante :
                <a href="{{ path('app_acceuil') }}">www.alihsanmonde.com</a>
            </p>
            <p>
                Le site <a href="{{ path('app_acceuil') }}">www.alihsanmonde.com</a>
                a pour objectif de présenter l’ensemble des activités de l’association
                Alihsan Monde et de permettre à certains utilisateurs d’avoir accès à des ressources et informations
                spécifiques.
            </p>
            <p>
                L’édition du site est assurée par Visemploi, Association Loi 1901 à but non lucratif, N° SIRET :
                ---------------
            </p>
            <p>
                Le Directeur de la publication est Geatan Lestienne, Président de l’association.
            </p>
            <p>
                L’hébergeur du site est -----, dont le siège social se trouve au :-------------------------
            </p>
            <p>
                Le prestataire qui a conçu le site est : Maxime Cognez
            </p>
        </section>
        <section class="sections">
            <p>Crédits illustrations:</p>
            <a
            href="https://fr.freepik.com/vecteurs-libre/coach-parlant-devant-public-mentor-presentant-graphiques-rapports-reunion-employes-lors-formation-commerciale-seminaire-conference-illustration-vectorielle-pour-presentation-conference-education_10172518.htm#query=travail%20formation&position=5&from_view=search&track=ais&uuid=2dbcf514-f51d-4939-80ce-9455899afdc7">Image
            de pch.vector</a> sur Freepik
    
        <a
            href="https://fr.freepik.com/vecteurs-libre/collegues-travaillant-ensemble-projet_9174459.htm?query=travail%20formation#from_view=detail_alsolike">Image
            de pch.vector</a> sur Freepik
    
        <a
            href="https://fr.freepik.com/vecteurs-libre/gestionnaires-travaillant-ensemble-projet_12291179.htm#page=7&query=travail%20formation&position=21&from_view=search&track=ais&uuid=934f6f01-57ba-4608-9838-4b483f92bc23">Image
            de pch.vector</a> sur Freepik
    
        <a
            href="https://fr.freepik.com/vecteurs-libre/heureux-couple-ramasser-dechets-exterieur-jeunes-nettoyage-du-parc-illustration-vectorielle-plane-dechets-benevolat-soins-nature_11671697.htm#page=4&query=benevole&position=37&from_view=search&track=sph&uuid=e6d60663-9684-4d43-a373-8413d69ecfb2">Image
            de pch.vector</a> sur Freepik
    
        <a
            href="https://fr.freepik.com/vecteurs-libre/plantation-arbres-personnages-dessins-animes-militants-verts-protegeant-nature-amenagement-paysager-reboisement-mondial-gens-restaurent-habitat-forestier-illustration-metaphore-concept-isole-vecteur_11663487.htm#page=6&query=benevole&position=21&from_view=search&track=sph&uuid=e6d60663-9684-4d43-a373-8413d69ecfb2">Image
            de vectorjuice</a> sur Freepik
    
        <a
            href="https://fr.freepik.com/vecteurs-libre/jeunes-tenant-banniere-vierge_5238141.htm#page=6&query=volonters&position=27&from_view=search&track=ais&uuid=4c9d916f-10c3-4e6b-8c50-b62f2cec9dc4">Image
            de pikisuperstar</a> sur Freepik
    
        <a
            href="https://fr.freepik.com/vecteurs-libre/employes-donnant-mains-aidant-leurs-collegues-monter-escaliers_7732609.htm#page=10&query=volonters&position=11&from_view=search&track=ais&uuid=4c9d916f-10c3-4e6b-8c50-b62f2cec9dc4">Image
            de pch.vector</a> sur Freepik
    
        <a
            href="https://fr.freepik.com/vecteurs-libre/cliente-visiteur-parlant-receptionniste-bureau-bulle-dialogue-illustration-vectorielle-plane-ordinateur-portable-service-communication_11671534.htm#page=2&query=pch.vector&position=3&from_view=search&track=sph&uuid=6354920a-6364-4fb7-b6b1-3d68f995ec56">Image
            de pch.vector</a> sur Freepik
    
        <a
            href="https://fr.freepik.com/vecteurs-libre/homme-politique-assis-table-ronde-dans-salle-conference-conseil-administration-pdg-tenant-discussion-formelle-dans-illustration-vectorielle-plane-salle-bureau-autorite-commerciale-chef-entreprise-concept-strategie-planification_22343998.htm#page=2&query=pch.vector&position=11&from_view=search&track=sph&uuid=129c04a0-27f9-4f33-818a-d16b398a62b0">Image
            de pch.vector</a> sur Freepik
    
        <a
            href="https://fr.freepik.com/vecteurs-libre/mains-personnes-diverses-globe-equipe-personnes-multiculturelles-cooperant-ensemble-illustration-vectorielle-plane-travail-equipe-soutien-partenariat-concept-confiance-pour-banniere-conception-sites-web-page-destination_27572632.htm#page=13&query=pch.vector&position=4&from_view=search&track=sph&uuid=129c04a0-27f9-4f33-818a-d16b398a62b0">Image
            de pch.vector</a> sur Freepik
    
        
        </section>
    </div>
</div>
{% endblock %}