{% extends 'template.html.twig' %}

{% block title %}Liste des Responsables{% endblock %}

{% block body %}



<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-borderless rounded">
          <thead>
            <tr>
              <th class="text-center">Nom:</th>
              <th class="text-center">Prénom</th>
              <th class="text-center">Mail</th>
              <th class="text-center">Mail</th>
            </tr>
          </thead>
            <tr class="bckgndclr">
              <td class="text-center">test</td>
              <td class="text-center">test</td>
              <td class="text-center">test@test.com</td>
              <td class="text-center"><button class="btn btn-outline-secondary btn-sm" type="submit">Afficher</button></td>
            </tr>
        </table>
      </div>
      <div class="text-center mt-4">
        <!-- Bouton pour ouvrir le modal -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="">
          Ajouter
        </button>
      </div>
                <nav aria-label="" class="mt-4">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                        <a class="page-link">Précédent</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                        <a class="page-link" href="#">Suivant</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>  
    </div>
</div>
   
{% endblock %}

{% block PageTitle %}
Gestion des résponsables
{% endblock %}